@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');

body{
    background: #12c2e9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    font-family: 'Roboto Condensed', sans-serif;
}

.title{
    color:white;
    font-size:55px;
    padding-top: 20px;
}

.today h2{
    font-size: 55px;
}

p{
    font-size: 44px;
    color: white;
}

h1,h2,h3{
    color: white;
}

.container{
    padding-top: 30px;
}